<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginpi5s">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginPI5S.NoActionBar">
        <activity
            android:name=".Activities.SobreActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.TransacaoActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.HistoricoListActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MenuActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.UsuarioActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.CadastroUsuarioActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>